

<script id="systemUser-template" type="text/x-jsrender">
    <div id="user-details-tab-control" class="pmd-tabs pmd-tabs-bg">
        <div class="pmd-tab-active-bar"></div>
        <ul class="nav nav-tabs" role="tablist" style="width:100%">
            <li role="presentation" class="active"><a id="tab-control-legalentity" href="#tab-page-legalentity" aria-controls="tab-legalentity" role="tab" data-toggle="tab">Details</a></li>
            <li role="presentation"><a id="tab-control-credentials" href="#tab-page-credentials" aria-controls="tab-credentials" role="tab" data-toggle="tab">Credentials</a></li>
            <li role="presentation"><a id="tab-control-roles" href="#tab-page-roles" aria-controls="tab-roles" role="tab" data-toggle="tab">Roles</a></li>
        </ul>
    </div>
    <div class="pmd-card-body">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab-page-legalentity">
                @Html.Partial("~/Views/LegalEntity/_LegalEntity.cshtml")
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-page-credentials">
                <form id="form-systemUser">
                    <div class="group-fields clearfix row">
                        <div class="col-xs-12">
                            <label class="form-group pure-material-textfield-outlined">
                                <input id="UserName" name="UserName" data-link="UserName" placeholder=" " />
                                <span>User Name</span>
                            </label>
                        </div>
                    </div>
                    <div class="group-fields clearfix row">
                        <div class="col-xs-12">
                            {^{if IsNew}}
                            <label class="form-group pure-material-textfield-outlined">
                                <input id="Password" name="Password" type="password" data-link="Password" placeholder=" " />
                                <span>Password</span>
                            </label>
                            {{else}}
                            <label class="form-group pure-material-textfield-outlined">
                                <input id="Password" name="Password" type="password" disabled="disabled" data-link="Password" placeholder=" " />
                                <span>Password</span>
                            </label>
                            {{/if}}
                        </div>
                    </div>
                    <div class="group-fields clearfix row">
                        <div class="col-xs-12">
                            {^{if IsNew}}
                            <label class="form-group pure-material-textfield-outlined">
                                <input id="ConfirmPassword" name="ConfirmPassword" type="password" data-link="{:ConfirmPassword}" placeholder=" " />
                                <span>Confirm Password</span>
                            </label>
                            {{else}}
                            <label class="form-group pure-material-textfield-outlined">
                                <input id="ConfirmPassword" name="ConfirmPassword" type="password" disabled="disabled" data-link="{:ConfirmPassword}" placeholder=" " />
                                <span>Confirm Password</span>
                            </label>
                            {{/if}}
                        </div>
                    </div>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-page-roles">
                <form id="form-SystemWebAdminUserRoles">
                    <div class="group-fields clearfix row">
                        <div class="col-xs-12">
	                        <div class="form-group pmd-textfield">       
                                <label>System User Roles</label>
                                <select id="SystemWebAdminUserRoles" name="SystemWebAdminUserRoles" data-link="{multisel items=lookup.SystemWebAdminRole selected=SystemWebAdminUserRoles size=lookup.SystemWebAdminRole.length}" class="form-control select-tags pmd-select2-tags"></select>
	                        </div>  
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>